<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

  {{#isProduction}}
    <link rel="stylesheet" type="text/css" href="/resources/{{ application_css }}">
  {{/isProduction}}
  </head>
  <body data-grid-framework="b3">
    {{{ yield }}}
    <div id="app"></div>

    {{^isProduction}}
      <!-- used to indicate the bootstap breakpoints - dev mode only -->
      <div class="bootstrap_media_breaks" style="position:fixed;padding:2px;z-index:2500; top:50px;right:0;background-color:#ddd;color:red;border:1px solid #888;font-weight: bold;" title="bootstrap media breakpoint">
        <span class="visible-xs-block">XS</span>
        <span class="visible-sm-block">SM</span>
        <span class="visible-md-block">MD</span>
        <span class="visible-lg-block">LG</span>
      </div>
    {{/isProduction}}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="/resources/{{ application_js }}"></script>
  </body>
</html>
